<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/card.css">
</head>
<body>
    <div id="navbar">
        <div id="left">
         <h1> Dribble </h1>
         <div id="links">
            <a href="/loginUser">Home</a>
            <a href="/">Register</a>
            <a href="/logout">Logout</a>
            <a href="/feed">Feed</a>

        </div>
        </div>
        <div id="search">
            <div id="searchbar">
                <input id="searchinp" type="text" placeholder="Search">
            </div>
            <div id="person">
               <div id="user">
                    <div id="udp">
                        <img src="" alt="">
                    </div>
                    <div id="uname">
                        <h5> username </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var btn = document.querySelector("#searchbar")
        var flag = 0 
    btn.addEventListener("input" , function(){
            document.querySelector("#person").style.display = "initial"
    })

    var searchinp = document.querySelector("#searchinp")
    searchinp.addEventListener("input" , function(){
        if(searchinp.value,trim().length > 0){
            axios.get(`/users${searchinp.value}`)
            .then(function(reply){
                var clutter = ``;
                reply.data.forEach(function(member){
                    clutter += `<div id="person">
                        <div id="user">
                             <div id="udp">
                                 <img src="../../images/uploads/${member.image}" alt="">
                             </div>
                             <div id="uname">
                                 <h5> @${member.username} </h5>
                             </div>
                         </div>
                     </div>`
                })
            })
        }
        else{

        }
    })
    

    </script> 