<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head> 
<body>
  
  <div id="main">
    <div id="left">
      <h1>Dribble</h1>
      <h2>Discover the world's top <br> Designers & Creatives</h2>
      <div id="cenle">
        <h3> to keep connected with us please register your personal info</h3>
        <a href="/"> Register</a>
      </div>
      <p> Art by ARSV</p>
    </div>
    <div id="right">
      <div id="cenri">
      <h1>User login</h1>
      <form action="/login" method="post">
      <input type="text" placeholder="username" name="username">
      <input type="password" placeholder="password" name="password" >
      <input id="submit" type="submit"> <br>
       If you are not a member of Dribble,So please ?,<a href="/">Register</a>
      </form> 
    </div>
    </div> 
  </div>
</body>
</html>