*
{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}

#main{
  width: 100%;
  height: 100%;
  display: flex;
  font-family: gilroy;
}

#left{
  width: 40%;
  height: 100%;
  background-color: #1ACBA0;
  padding: 80px;
  color: #fff;
}

#left h2{
  margin-top: 20px;
}

#left p{
  position: relative;
  top: 40%;
  font-weight: 500;
}

#left #cenle{
  margin-top: 80px;
  text-align: center;
  padding: 40px;
  font-weight: 500;
}

#left #cenle h3{
  font-weight: 700;
  margin-bottom: 20px;
}

#left #cenle a{
  border: 2px solid #fff;
  padding: 5px 30px 5px 30px ;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  
}

#right{
  width: 60%;
  height: 100%;
  padding: 40px ;
}

#right #cenri{
  width: 400px;
  height: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  padding-left: 60px;
}

#right h1{
  margin-left: 40px;
}

#right input{
  width: 250px;
  margin-top: 40px;
  margin-left: 60px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 80px;
}

#right #submit{
  background-color: #1ACBA0;
  color: #fff;
  font-size: 15px;
  margin-bottom: 40px;
} 


#submit{
  cursor: pointer;
}